<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Todo Module</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{ url_route('anomaly.module.todos::index') }}">Home</a></li>
      <li class="active"><a href="{{ url_route('anomaly.module.todos::export_import') }}">Export</a></li>
    </ul>
  </div>
</nav>